@model WebApplication2.Models.CarSet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CarSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarVin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarVin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarRegisterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarRegisterDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
