@model WebApplication2.Models.OrderLineSet

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderLineSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingSet.Contact_PhonbeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingSet.Contact_PhonbeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnStatus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
