@model WebApplication2.Models.OrderLineSet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OrderLineSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingSet.Contact_PhonbeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingSet.Contact_PhonbeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
